.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* userSelect: 'none',
padding: 16,
margin: '0 0 8px 0',
minHeight: '50px',
backgroundColor: snapshot.isDragging ? '#263B4A' : '#456C86',
color: 'white', */